html, body {
	margin: 0;
	padding: 0;
	background-color: lightslategray
}

header {
	background-color: darkslategray;
	width: 100%;
	height: 100px;
}

main {
	background-color: whitesmoke;
	width: 70%;
	height: calc(100vh - 200px);
	margin: auto;
}

footer { 
	background-color: #222;
	width: 70%;
	height: 100px;
	margin: auto;
	
}



